.classpath
.project
target/
*.log
.idea/
!**/src/main/**/target/
!**/src/test/**/target/
*.iml
*.xml.versionsBackup

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.ipr

### Eclipse ###
.apt_generated
.factorypath
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
jenkinsfile.*
.githubignore
tools

